* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
}

html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#navbar {
    background-color: #FFFFFF;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.932);
}

#image {
    padding: 10px 0px 20px 80px;
}

#image img {
    width: 100px;
}

.content {
    padding-right: 40px;
    padding-left: 60px;
    padding-top: 10px;
}

.content button {
    width: 100px;
    height: 33px;
    background-color: #1ba085;
    border: 1px solid #1ba085;
    border-radius: 4px;
    color: #FFFFFF;
    box-sizing: 18px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

input {
    width: 346px;
    height: 37px;
    padding: 16px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    margin-top: 5px;
}

.content input {
    margin-left: 20px;
}

#sign {
    display: flex;
    justify-content: center;
}

.signin {
    padding: 16px 80px;
    padding-right: 30px;
}

.signin button {
    width: 100px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #35CE97;
    color: #35CE97;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
}

#footer .TITLE {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    /* -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2); */
    /* -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2); */
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, .3);
}

.TITLE .footer-1 {
    padding: 18px 18px 18px 40px;
    flex-direction: row;
    display: flex;
    color: #35CE97;
    line-height: 1.5rem;
}

.TITLE-1 {
    display: flex;
    flex-direction: row-reverse;
}

.inform {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.items-content {
    margin-right: 90px;
}

.items-content a {
    font-size: 14px;
    text-decoration: none;
    line-height: 17px;
    color: #35CE97;
    margin-block: 10000px;
}

#footer-2 {
    padding-top: 24px;
}

.img-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
    padding-left: 10px;
}

.img-footer img {
    padding: 24px 10px;
}

.footer-3 {
    padding-top: 0px;
    padding-bottom: 16px;
    padding-left: 40px;
    font-size: 14px;
    line-height: 17px;
    color: #35CE97;
}

/*****************************************************************/

.body {
    padding: 5px 50px;
}

.abc {
    padding: 10px 100px;
}

/*-----------------slide show--------------------------*/

.slide {
    margin-bottom: 25px;
    
}

img {
    vertical-align: middle;
}

/* Slideshow container */

.slideshow-container {
    max-width: 1100px;
    position: relative;
    margin: auto;
    margin-top: 70px;
}

/* The dots/bullets/indicators */

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/*------------------------------box-header 1----------------------*/

.Menu {
    /* max-width: 1100px; */
    background: #FFFFFF;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .10);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .10);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.box-header-1 {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
}

.box-header-1 p {
    padding-top: 5px;
    font-size: 25px;
    color: rgb(46, 41, 36);
    text-transform: uppercase;
}

.box-header-1 ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.box-header-1 ul li {
    padding: 10px;
}

.box-header-1 ul li a {
    text-decoration: none;
    color: black;
}

/*--------------------------------San Pham Hot--------------------*/

.book {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
}

.book div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}

.book-1 {
    position: relative;
    width: 235px;
    height: 260px;
    display: flex;
    /* justify-content: center; */
    /* flex-direction: row; */
}

.img-1 {
    position: absolute;
    z-index: 3;
    padding: 10px 50px;
}

.name-book-1 {
    position: absolute;
    background-color: #fff;
    top: 70px;
    height: 190px;
    width: 228px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2);
}

.name-book-1 div {
    /* padding-right: 10px;  */
    display: flex;
    /* text-align: center; */
    font-size: 15px;
    justify-content: center;
    flex-direction: column;
    align-self: flex-end;
    width: 100%;
    text-align: center;
    height: 60px;
}

.name-book-1 a {
    text-decoration: none;
    display: block;
    padding: 4px;
    background-color: #35CE97;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 5px;
}

.name-book-1 h3 {
    /* font-size: 16px; */
    /* color: #1ba085; */
    margin-top: 20px;
    font: 18px small;
}

/****************************************************************/

#container {
    text-align: left;
    display: flex;
    width: 100%;
    padding: 0px 35px;
    padding-top: 100px;
    /* justify-content: space-between; */
}

.review-little {
    /* border: 1px solid; */
    padding-top: 24px;
    padding-right: 50px;
    /* box-shadow: 20px 20px; */
}

.img {
    margin-top: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}



.inf-book {
    padding-top: 24px;
}

.read-book button {
    background-color: #1ba085;
    color: #FFFFFF;
    border: 1px solid #1ba085;
    border-radius: 4px;
    height: 24px;
    width: 90px;
}

.read-book {
    padding: 20px 0px;
}

.artist-life {
    margin-left: 200px;
    flex-direction: column;
}

.info-text-book h1 {
    height: 50px;
}

.info-line-book {
    height: 25px;
}

.info-text-book .info-line-book p.detail-tag {
    display: inline;
    font-size: 16px;
    line-height: 25px;
}

.info-text-book a {
    color: #888;
    text-decoration: none;
}

.info-text-book p {
    margin: 0;
    line-height: 25px;
}

.info-text-book .info-line-book span {
    line-height: 25px;
}


.read-book {
    width: 100%;
    display: block;
    float: left;
}

a.book-info-link {
    width: 123px;
    height: 25px;
    float: left;
    text-align: center;
    background-color: #1ba085;
    color: #fff;
    line-height: 25px;
    text-transform: uppercase;
    border-radius: 2px;
    margin-top: 12px;
    margin-bottom: 20px;
    text-decoration: none;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.pb20 .pt15 .full-w {
    padding-bottom: 20px !important;
    padding-top: 15px;
    padding-right: 20px;
}

#book-desc {
    overflow: visible;
    background-color: inherit;
    margin: 0;
    padding: 0;
    width: 100%;
}

/**********************Sile-Text**************************/

.your-class {
    height: 150px;
    background-color: #8BD0DE;
    margin: 20px 0;
}

.slickslider {
    width: 900px;
    margin: auto;
    height: 150px;
}

.slickslider div {
    text-align: center;
    padding-top: 15px;
    color: floralwhite;
}

.slickslider div p {
    font-size: 15px;
    padding: 15px;
}

/*---------------------Doc nhieu nhat------------------------*/

.Docnhieunhat {
    margin:50px 0;
    padding: 0 100px;
}
.DNN{
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .3);
}


.book-2 {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .3);
    width: 150px;
    height: 260px;
    margin-top: 30px;
    margin: 20px;
    
    
}
.name-book-2{
    font-size: 14px;
    text-align: center;
}
.name-book-2 h4{
   
    /* font: 18px small */
    padding: 5px;
}